.Home {
  display: flex;
  flex-direction: column;
  gap: 57px;

  header.header {
    color: #074684;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
  }

  label.search-container {
    border: 2px solid #074684;
    border-radius: 10px;
    padding: 12px;
    width: min(750px, 100%);

    display: flex;
    align-items: center;
    gap: 8px;

    input {
      flex-grow: 1;
      border: none;
      outline: none;
    }
  }

  .teams-data-table-container {
    width: 100%;
    overflow-x: auto;
    table.teams-data-table {
      border-collapse: collapse;
      width: 100%;
      thead,
      tbody {
        font-size: 24px;
        font-weight: 700;
        border-radius: 15px;
        tr {
          th,
          td {
            text-align: center;
            padding-top: 19px;
            padding-bottom: 19px;
            padding: 19px 4px;
            border: solid 0 #fff;
            &:first-of-type {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            &:last-of-type {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
  
      thead {
        tr {
          background-color: #074684;
          color: #fff;

          th {
            button.sort-city {
              padding: 0;
              margin: 0 0 0 8px;
              border: none;
              outline: none;
              background-color: transparent;
              cursor: pointer;
              svg {
                transform: rotate(0deg);
                transition: transform 200ms linear;
              }
              &.invert {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
  
      tbody {
        tr {
          background-color: #f8fbfd;
          cursor: pointer;
          &:hover {
            background-color: #eef5fa;
          }
          &.selected {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #F8FBFD;
          }
        }
      }
    }
  }

  section.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    button {
      border: none;
      outline: none;
      background-color: #074684;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      padding: 4px 8px;

      &:disabled {
        background-color: #999;
        cursor: default;
      }
    }
  }
}
